<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">Devi Parikh </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="./publications.html">Papers</a>
        </li>
        <li>
          <a href="https://deviparikh.substack.com">Blog</a>
        </li>
        <li>
          <a href="http://humanstories.ai">Humans of AI</a>
        </li>
        <li>
          <a href="http://aipaygrad.es">AI Paygrades</a>
        </li>
        <!-- <li> -->
          <!-- <a href="./art.html">Art</a> -->
        <!-- </li> -->
        <!-- <li> -->
          <!-- <a href="./questions">Questions</a> -->
        <!-- </li> -->
        <li>
          <a href="https://twitter.com/deviparikh">
            <img style="height:25px;" src="static/img/ico/twitter.jpg">
          </a>
        </li>
        <li>
          <a href="https://instagram.com/deviparikh">
            <img style="height:25px;" src="static/img/ico/instagram.jpg">
          </a>
        </li>
        <li>
          <a href="https://threads.net/deviparikh">
            <img style="height:25px;" src="static/img/ico/threads.jpg">
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>